{
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 80,
  "overrides": [
    {
      "files": ["legacy/**/*.ts", "legacy/**/*.js"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["*.md", "*.markdown"],
      "options": {
        "singleQuote": true,
        "proseWrap": "preserve"
      }
    }
  ]
}
