<script lang="ts">
	export let subject: string;
	$: title = `${subject} - Generated`;
</script>

<svelte:head>
	<title>{title}</title>
</svelte:head>

<article>
	<div>{subject} works</div>
</article>

<style lang="<%= style %>">
	article {
		padding: 1em;
	}
</style>
