import type { RequestHandler } from './__types';

export const GET: RequestHandler = async ({ params }) => {

	return {
		status: 200,
		body: {
			subject: '<%= path %>/<%= name %> route'
		}
	};
};
