<script lang="ts">
  export let name = `<%= classify(name) %>`;
  $: message = `${name} works`;
</script>

<article>
  {message}
</article>

<style lang="<%= style %>">
  article {
    border: thin solid blue;
    padding: 1em;
  }
</style>
