export class <%= classify(moduleName) %> {
  public constructor(private counter<% if (language === 'ts') { %>: number<% } %>) {}
  public add(a<% if (language === 'ts') { %>: number<% } %>)<% if (language === 'ts') { %>: number<% } %> {
    this.counter += a;
    return this.counter;
  }
  public greet(name: string)<% if (language === 'ts') { %>: string<% } %> {
    return `<%= classify(moduleName) %> says hello to ${name}`;
  }
}
