export class <%= classify(moduleName) %> {
  public constructor(private counter: number) {}
  public add(a: number): number {
    this.counter += a;
    return this.counter;
  }
  public greet(name: string): string {
    return `<%= classify(moduleName) %> says: hello to ${name}`;
  }
}
