module.exports = {
  coverageDirectory: 'coverage',
  coverageReporters: ['cobertura', 'text'],
  collectCoverageFrom: ['./src/**/*.ts'],
  testMatch: ['**/?(*.)+(spec|testx).[t]s?(x)'],
  reporters: [
    'default',
    [
      'jest-junit',
      { suiteName: 'jest tests', suiteNameTemplate: '{filepath}' },
    ],
  ],
  moduleFileExtensions: ['ts', 'js'],
  testEnvironment: 'jsdom',
  transform: { '^.+\\.(ts|json|html)$': 'ts-jest' },
};
