<script lang="ts">
	export let <%= camelize(name) %>: string = '<%= classify(name) %> route';
	$: title = `${<%= camelize(name) %>} - Generated`;
</script>

<svelte:head>
	<title>{title}</title>
</svelte:head>

<article>
	<div>{<%= camelize(name) %>} works</div>
</article>

<style lang="<%= style %>">
	article {
		display: block;
		padding: 1em;
		border: thin solid silver;
	}
</style>
